[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg

package-name = collective.pwexpiry
package-extras = [test]
versions = versions

parts +=
    i18ndude
    omelette
    scripts

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[scripts]
recipe = zc.recipe.egg
eggs = zest.releaser
