[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.0.x.cfg

[versions]
setuptools = 40.5.0
zc.buildout = 2.12.2
plone.recipe.zope2instance = 4.4.1
docutils = 0.14
Products.PrintingMailHost = 1.1.0
bleach = 3.0.2
chardet = 3.0.4
check-manifest = 0.37
pkginfo = 1.4.2
pyroma = 2.4
readme-renderer = 24.0
requests-toolbelt = 0.8.0

# Required by:
# zest.releaser==6.9
colorama = 0.4.0

# Required by:
# bleach==3.0.2
webencodings = 0.5.1
